body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tGys095yHn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #9fdbf8;
}
.cid-tGys095yHn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGys095yHn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGys095yHn .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tGys095yHn .currentcost {
  color: #232323;
}
.cid-tGys095yHn .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tGys095yHn .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tGys095yHn .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tGys095yHn .text-box {
    padding: 1rem;
  }
}
.cid-tGys095yHn .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tGys095yHn H5 {
  color: #e43f3f;
}
.cid-tGys095yHn .mbr-text,
.cid-tGys095yHn .cost,
.cid-tGys095yHn .mbr-section-btn {
  color: #4479d9;
}
.cid-tGys095yHn .mbr-text,
.cid-tGys095yHn .cost,
.cid-tGys095yHn .mbr-section-btn P {
  text-align: left;
}
.cid-tGys095yHn P {
  color: #232323;
}
.cid-tGhWEn1Lnb {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/-1137x1217.jpeg");
}
.cid-tGhWEn1Lnb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGhWEn1Lnb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGhWEn1Lnb .mbr-text,
.cid-tGhWEn1Lnb .mbr-section-btn {
  text-align: left;
  color: #6592e6;
}
.cid-tGhWEn1Lnb .mbr-section-subtitle {
  color: #e43f3f;
  text-align: left;
}
.cid-tGDGEdf9Vb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGDGEdf9Vb .mbr-overlay {
  background: #9fdbf8;
  opacity: 0.4;
}
.cid-tGDGEdf9Vb img,
.cid-tGDGEdf9Vb .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tGDGEdf9Vb .item:focus,
.cid-tGDGEdf9Vb span:focus {
  outline: none;
}
.cid-tGDGEdf9Vb .item-wrapper {
  position: relative;
}
.cid-tGDGEdf9Vb .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tGDGEdf9Vb .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tGDGEdf9Vb .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tGDGEdf9Vb .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tGDGEdf9Vb .mbr-section-title {
  color: #232323;
}
.cid-tGDGEdf9Vb .mbr-text,
.cid-tGDGEdf9Vb .mbr-section-btn {
  text-align: center;
  color: #4479d9;
}
.cid-tGDGEdf9Vb .item-title {
  text-align: left;
}
.cid-tGDGEdf9Vb .item-subtitle {
  text-align: left;
}
.cid-tGDGEdf9Vb .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tGDGEdf9Vb .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tGDGEdf9Vb .embla__button--next,
.cid-tGDGEdf9Vb .embla__button--prev {
  display: flex;
}
.cid-tGDGEdf9Vb .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tGDGEdf9Vb .embla__button {
    display: none;
  }
}
.cid-tGDGEdf9Vb .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tGDGEdf9Vb .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tGDGEdf9Vb .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tGDGEdf9Vb .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tGDGEdf9Vb .embla__button {
    top: auto;
  }
}
.cid-tGDGEdf9Vb .embla {
  position: relative;
  width: 100%;
}
.cid-tGDGEdf9Vb .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tGDGEdf9Vb .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tGDGEdf9Vb .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tGDGEdf9Vb .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tGhQs8JyaJ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGhQs8JyaJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGhQs8JyaJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGhQs8JyaJ .timeline-element {
  position: relative;
}
.cid-tGhQs8JyaJ .timelines-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.cid-tGhQs8JyaJ .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tGhQs8JyaJ .mbr-section-title,
.cid-tGhQs8JyaJ .mbr-section-subtitle,
.cid-tGhQs8JyaJ .timeline-date {
  text-align: center;
}
.cid-tGhQs8JyaJ .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #bed3f9;
  margin-left: -9px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-tGhQs8JyaJ .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-tGhQs8JyaJ .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-tGhQs8JyaJ .row:after {
  content: "";
  position: absolute;
  background-color: #bed3f9;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-tGhQs8JyaJ .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-tGhQs8JyaJ .row:after {
    height: calc(100% + 28px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tGhQs8JyaJ .timeline-date-wrapper,
  .cid-tGhQs8JyaJ .timeline-text-wrapper,
  .cid-tGhQs8JyaJ .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-tGhQs8JyaJ .mbr-timeline-date {
    text-align: left !important;
  }
  .cid-tGhQs8JyaJ .mbr-timeline-title {
    text-align: left;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tGhQs8JyaJ .timeline-date-wrapper,
  .cid-tGhQs8JyaJ .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tGhQs8JyaJ .timeline-date-wrapper,
  .cid-tGhQs8JyaJ .timeline-text-wrapper,
  .cid-tGhQs8JyaJ .image-wrapper {
    padding: 2rem;
  }
}
.cid-tGhQs8JyaJ .mbr-timeline-title {
  color: #e43f3f;
}
.cid-tGhQs8JyaJ .mbr-text {
  color: #232323;
}
.cid-tGy2Blyx1O {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGy2Blyx1O .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGy2Blyx1O .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGy2Blyx1O .mbr-section-title {
  color: #ffffff;
}
.cid-tGrY6s6lJA {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/-1612x1280.jpeg");
}
.cid-tGrY6s6lJA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGrY6s6lJA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGrY6s6lJA .mbr-text,
.cid-tGrY6s6lJA .mbr-section-btn {
  color: #232323;
}
.cid-tGrY6s6lJA .card-title,
.cid-tGrY6s6lJA .card-box {
  color: #e43f3f;
  text-align: right;
}
.cid-tGrY6s6lJA .mbr-text,
.cid-tGrY6s6lJA .link-wrap {
  color: #ffffff;
}
.cid-tGrY6s6lJA .card-box .mbr-text,
.cid-tGrY6s6lJA .mbr-section-btn {
  text-align: right;
  color: #4479d9;
}
.cid-tGDGAxqSy5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGDGAxqSy5 .mbr-overlay {
  background: #fafafa;
  opacity: 0.8;
}
.cid-tGDGAxqSy5 img,
.cid-tGDGAxqSy5 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tGDGAxqSy5 .item:focus,
.cid-tGDGAxqSy5 span:focus {
  outline: none;
}
.cid-tGDGAxqSy5 .item-wrapper {
  position: relative;
}
.cid-tGDGAxqSy5 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tGDGAxqSy5 .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tGDGAxqSy5 .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tGDGAxqSy5 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tGDGAxqSy5 .mbr-section-title {
  color: #232323;
}
.cid-tGDGAxqSy5 .mbr-text,
.cid-tGDGAxqSy5 .mbr-section-btn {
  text-align: center;
  color: #4479d9;
}
.cid-tGDGAxqSy5 .item-title {
  text-align: left;
}
.cid-tGDGAxqSy5 .item-subtitle {
  text-align: left;
}
.cid-tGDGAxqSy5 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tGDGAxqSy5 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tGDGAxqSy5 .embla__button--next,
.cid-tGDGAxqSy5 .embla__button--prev {
  display: flex;
}
.cid-tGDGAxqSy5 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tGDGAxqSy5 .embla__button {
    display: none;
  }
}
.cid-tGDGAxqSy5 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tGDGAxqSy5 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tGDGAxqSy5 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tGDGAxqSy5 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tGDGAxqSy5 .embla__button {
    top: auto;
  }
}
.cid-tGDGAxqSy5 .embla {
  position: relative;
  width: 100%;
}
.cid-tGDGAxqSy5 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tGDGAxqSy5 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tGDGAxqSy5 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tGDGAxqSy5 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tGFoBDYq3l {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tGFoBDYq3l .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGFoBDYq3l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGFoBDYq3l .top-line {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-tGFoBDYq3l .top-line {
    justify-content: center;
  }
}
.cid-tGFoBDYq3l .mbr-section-title,
.cid-tGFoBDYq3l .mbr-section-subtitle {
  text-align: center;
}
.cid-tGFoBDYq3l .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tGFoBDYq3l .card-wrapper {
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-tGFoBDYq3l .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tGFoBDYq3l .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tGFoBDYq3l .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tGFoBDYq3l .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tGFoBDYq3l .mbr-section-title {
  color: #4479d9;
}
.cid-tGFoBDYq3l .mbr-text {
  color: #6592e6;
  text-align: center;
}
.cid-tGFoBDYq3l .cost {
  color: #e43f3f;
  text-align: center;
}
.cid-tGy2qhEkrl {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGy2qhEkrl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGy2qhEkrl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGy2qhEkrl .mbr-section-title {
  color: #ffffff;
}
.cid-tGyuE3K0M5 {
  background-image: url("../../../assets/images/-1772x1172.jpeg");
}
.cid-tGyuE3K0M5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGyuE3K0M5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGyuE3K0M5 .mbr-section-title {
  text-align: center;
  color: #e43f3f;
}
.cid-tGyuE3K0M5 .mbr-text,
.cid-tGyuE3K0M5 .mbr-section-btn {
  text-align: center;
  color: #2299aa;
}
.cid-tGDGynXkLG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #9fdbf8;
}
.cid-tGDGynXkLG img,
.cid-tGDGynXkLG .item-img {
  width: 100%;
}
.cid-tGDGynXkLG .item:focus,
.cid-tGDGynXkLG span:focus {
  outline: none;
}
.cid-tGDGynXkLG .item-wrapper {
  position: relative;
}
.cid-tGDGynXkLG .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tGDGynXkLG .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tGDGynXkLG .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tGDGynXkLG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tGDGynXkLG .mbr-section-title {
  color: #232323;
}
.cid-tGDGynXkLG .mbr-text,
.cid-tGDGynXkLG .mbr-section-btn {
  text-align: center;
  color: #2299aa;
}
.cid-tGDGynXkLG .item-title {
  text-align: left;
}
.cid-tGDGynXkLG .item-subtitle {
  text-align: left;
}
.cid-tGDGynXkLG .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tGDGynXkLG .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tGDGynXkLG .embla__button--next,
.cid-tGDGynXkLG .embla__button--prev {
  display: flex;
}
.cid-tGDGynXkLG .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tGDGynXkLG .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tGDGynXkLG .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tGDGynXkLG .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tGDGynXkLG .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tGDGynXkLG .embla__button {
    top: auto;
  }
}
.cid-tGDGynXkLG .embla {
  position: relative;
  width: 100%;
}
.cid-tGDGynXkLG .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tGDGynXkLG .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tGDGynXkLG .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tGDGynXkLG .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tGtBgpERMo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff0b0;
}
.cid-tGtBgpERMo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGtBgpERMo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tGtBgpERMo .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tGtBgpERMo .row {
  flex-direction: row-reverse;
}
.cid-tGtBgpERMo img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tGtBgpERMo .text-wrapper {
    padding: 2rem;
  }
}
.cid-tGtBgpERMo .mbr-section-title {
  color: #4479d9;
}
.cid-tGtBgpERMo .mbr-text {
  color: #e43f3f;
}
.cid-tGy2BEPJFF {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tGy2BEPJFF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGy2BEPJFF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGy2BEPJFF .mbr-section-title {
  color: #ffffff;
}
.cid-tGyTyryUtf {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/-2000x1331.jpeg");
}
.cid-tGyTyryUtf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGyTyryUtf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGyTyryUtf .mbr-section-title {
  color: #e43f3f;
  text-align: center;
}
.cid-tGyTyryUtf .mbr-text,
.cid-tGyTyryUtf .mbr-section-btn {
  text-align: center;
  color: #2299aa;
}
.cid-tGzuDtEF83 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #bed3f9;
}
.cid-tGzuDtEF83 img,
.cid-tGzuDtEF83 .item-img {
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-tGzuDtEF83 .item:focus,
.cid-tGzuDtEF83 span:focus {
  outline: none;
}
.cid-tGzuDtEF83 .item-wrapper {
  position: relative;
}
.cid-tGzuDtEF83 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tGzuDtEF83 .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tGzuDtEF83 .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tGzuDtEF83 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tGzuDtEF83 .mbr-section-title {
  color: #4479d9;
}
.cid-tGzuDtEF83 .mbr-text,
.cid-tGzuDtEF83 .mbr-section-btn {
  text-align: center;
  color: #4479d9;
}
.cid-tGzuDtEF83 .item-title {
  text-align: center;
}
.cid-tGzuDtEF83 .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-tGzuDtEF83 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tGzuDtEF83 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tGzuDtEF83 .embla__button--next,
.cid-tGzuDtEF83 .embla__button--prev {
  display: flex;
}
.cid-tGzuDtEF83 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-tGzuDtEF83 .embla__button {
    display: none;
  }
}
.cid-tGzuDtEF83 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tGzuDtEF83 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tGzuDtEF83 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tGzuDtEF83 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tGzuDtEF83 .embla__button {
    top: auto;
  }
}
.cid-tGzuDtEF83 .embla {
  position: relative;
  width: 100%;
}
.cid-tGzuDtEF83 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tGzuDtEF83 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tGzuDtEF83 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tGzuDtEF83 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tGyTHGPUoH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #9fdbf8;
}
.cid-tGyTHGPUoH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGyTHGPUoH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 992px) {
  .cid-tGyTHGPUoH .text-wrapper {
    padding: 2rem;
  }
}
.cid-tGyTHGPUoH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tGyTHGPUoH .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tGyTHGPUoH .mbr-text {
  color: #e43f3f;
}
.cid-tGyTHGPUoH .position {
  color: #4479d9;
}
.cid-sFHoAfPmXB {
  background-image: url("../../../assets/images/-678x678.jpeg");
}
.cid-sFHoAfPmXB .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sFHoAfPmXB .image-wrap img {
    display: block;
    margin: auto;
    width: 10%;
  }
}
.cid-sFHoAfPmXB .mbr-section-title {
  color: #e43f3f;
}
.cid-sFHoAfPmXB .mbr-text,
.cid-sFHoAfPmXB .mbr-section-btn {
  color: #4479d9;
}
.cid-tWdEGQqLcC {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tWdEGQqLcC .mbr-overlay {
  background: #fafafa;
  opacity: 0.8;
}
.cid-tWdEGQqLcC img,
.cid-tWdEGQqLcC .item-img {
  width: 100%;
}
.cid-tWdEGQqLcC .item:focus,
.cid-tWdEGQqLcC span:focus {
  outline: none;
}
.cid-tWdEGQqLcC .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tWdEGQqLcC .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tWdEGQqLcC .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tWdEGQqLcC .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tWdEGQqLcC .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tWdEGQqLcC .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tWdEGQqLcC .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWdEGQqLcC .mbr-section-title {
  color: #232323;
}
.cid-tWdEGQqLcC .mbr-text,
.cid-tWdEGQqLcC .mbr-section-btn {
  text-align: center;
}
.cid-tWdEGQqLcC .item-title {
  text-align: left;
}
.cid-tWdEGQqLcC .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tWdEGQqLcC .mbr-section-subtitle {
  color: #e43f3f;
}
.cid-tWdIYVe5vp {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tWdIYVe5vp .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tWdIYVe5vp img,
.cid-tWdIYVe5vp .item-img {
  width: 100%;
}
.cid-tWdIYVe5vp .item:focus,
.cid-tWdIYVe5vp span:focus {
  outline: none;
}
.cid-tWdIYVe5vp .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tWdIYVe5vp .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tWdIYVe5vp .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tWdIYVe5vp .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tWdIYVe5vp .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tWdIYVe5vp .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tWdIYVe5vp .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWdIYVe5vp .mbr-section-title {
  color: #232323;
}
.cid-tWdIYVe5vp .mbr-text,
.cid-tWdIYVe5vp .mbr-section-btn {
  text-align: center;
  color: #4479d9;
}
.cid-tWdIYVe5vp .item-title {
  text-align: left;
}
.cid-tWdIYVe5vp .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tWdIYVe5vp .mbr-section-subtitle {
  color: #e43f3f;
}
.cid-tWdJ16nfo8 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tWdJ16nfo8 .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tWdJ16nfo8 img,
.cid-tWdJ16nfo8 .item-img {
  width: 100%;
}
.cid-tWdJ16nfo8 .item:focus,
.cid-tWdJ16nfo8 span:focus {
  outline: none;
}
.cid-tWdJ16nfo8 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tWdJ16nfo8 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tWdJ16nfo8 .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tWdJ16nfo8 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tWdJ16nfo8 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tWdJ16nfo8 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tWdJ16nfo8 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWdJ16nfo8 .mbr-section-title {
  color: #232323;
}
.cid-tWdJ16nfo8 .mbr-text,
.cid-tWdJ16nfo8 .mbr-section-btn {
  text-align: center;
}
.cid-tWdJ16nfo8 .item-title {
  text-align: left;
}
.cid-tWdJ16nfo8 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tWdJ16nfo8 .mbr-section-subtitle {
  color: #e43f3f;
}
.cid-tWdJ4TIwIx {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tWdJ4TIwIx .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tWdJ4TIwIx img,
.cid-tWdJ4TIwIx .item-img {
  width: 100%;
}
.cid-tWdJ4TIwIx .item:focus,
.cid-tWdJ4TIwIx span:focus {
  outline: none;
}
.cid-tWdJ4TIwIx .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tWdJ4TIwIx .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tWdJ4TIwIx .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tWdJ4TIwIx .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tWdJ4TIwIx .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tWdJ4TIwIx .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tWdJ4TIwIx .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWdJ4TIwIx .mbr-section-title {
  color: #232323;
}
.cid-tWdJ4TIwIx .mbr-text,
.cid-tWdJ4TIwIx .mbr-section-btn {
  text-align: center;
}
.cid-tWdJ4TIwIx .item-title {
  text-align: left;
}
.cid-tWdJ4TIwIx .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tWdJ4TIwIx .mbr-section-subtitle {
  color: #e43f3f;
}
.cid-tWdJ5TqRqU {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tWdJ5TqRqU .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tWdJ5TqRqU img,
.cid-tWdJ5TqRqU .item-img {
  width: 100%;
}
.cid-tWdJ5TqRqU .item:focus,
.cid-tWdJ5TqRqU span:focus {
  outline: none;
}
.cid-tWdJ5TqRqU .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tWdJ5TqRqU .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tWdJ5TqRqU .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tWdJ5TqRqU .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tWdJ5TqRqU .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tWdJ5TqRqU .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tWdJ5TqRqU .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWdJ5TqRqU .mbr-section-title {
  color: #232323;
}
.cid-tWdJ5TqRqU .mbr-text,
.cid-tWdJ5TqRqU .mbr-section-btn {
  text-align: center;
}
.cid-tWdJ5TqRqU .item-title {
  text-align: left;
}
.cid-tWdJ5TqRqU .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tWdJ5TqRqU .mbr-section-subtitle {
  color: #e43f3f;
}
.cid-tWXmiSHm4j {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tWXmiSHm4j .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWXmiSHm4j .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWXmiSHm4j .top-line {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-tWXmiSHm4j .top-line {
    justify-content: center;
  }
}
.cid-tWXmiSHm4j .mbr-section-title,
.cid-tWXmiSHm4j .mbr-section-subtitle {
  text-align: center;
}
.cid-tWXmiSHm4j .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tWXmiSHm4j .card-wrapper {
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-tWXmiSHm4j .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tWXmiSHm4j .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tWXmiSHm4j .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tWXmiSHm4j .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tWXmiSHm4j .cost {
  text-align: center;
  color: #4479d9;
}
.cid-tWXmiSHm4j .mbr-text {
  text-align: left;
  color: #232323;
}
.cid-tWXmiSHm4j .mbr-section-title {
  color: #e43f3f;
}
.cid-sFHu2wLoQp {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-sFHu2wLoQp .row .mbr-text {
  color: #232323;
}
